@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Ubuntu+Condensed&family=Ubuntu:wght@500&display=swap");
:root {
  --navbar-height: 50px;
}
body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: "Baloo Bhai 2", sans-serif;
  
  
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(95vh - var(--navbar-height));
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border-top: 4px solid #19d4ca;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* input {
  
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: #000552;
  transition: box-shadow 0.3s;
} */

/* input:focus {
  box-shadow: 0 0 10px #19d4ca;
} */

/* .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
} */

.submit-button,
.link {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-decoration: none;
}

/* .submit-button {
  outline: 1px solid currentColor;
  background-color: transparent;
  color: #19d4ca;
} */

.submit-button:hover {
  background-color: #19d4ca;
  color: #fff;
  box-shadow: none;
}

.submit-button:active {
  box-shadow: 0 0 10px #19d4ca;
}

.link {
  font-size: 1rem;
  color: #141414;
  background-color: transparent;
  box-shadow: 0 0 2px #000000;
}

.link:hover {
  color: #191919;
  box-shadow: 0 0 10px #ccc;
}

.link:active {
  box-shadow: 0 0 10px #ccc;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 270px;
  }
}
.services {
  color: #112d4e;
  background: url(https://e-amrit.niti.gov.in/assets/admin/dist/img/new-fronend-img/ourtoolsbg.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.inner-services {
  height: 470px;
  background: #f9f7f7;
  width: 70%;
  border-radius: 16px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 50px;
  filter: drop-shadow(0 3px 96px rgba(0, 0, 0, 0.07));
  box-shadow: 0 3px 96px rgba(0, 0, 0, 0.07);
}
.inner-2{
  display: flex;
  justify-content: center;
  gap: 25px;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}